<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:util="http://www.springframework.org/schema/util" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd"> <!-- bean definitions here -->

<bean class="com.techlabs.model.Harddisk" name="disk">
	<!--  <property name="capacity" value="10"></property> default constructor to inject the values --> 
	<constructor-arg name="capacity" value="20"></constructor-arg>
</bean>

<bean class="com.techlabs.model.Computer" name="computer" autowire="constructor">
	
	<!--  <property name="name" value="apple" ></property> -->
	<constructor-arg name="name" value="apple"></constructor-arg>
</bean>

</beans>